BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
