[submodule "third_party/bash"]
	path = third_party/bash
	url = https://github.com/tianon/mirror-bash.git

[submodule "third_party/openrc"]
	path = third_party/openrc
	url = https://github.com/OpenRC/openrc

[submodule "third_party/fastfetch"]
	path = third_party/fastfetch
	url = https://github.com/fastfetch-cli/fastfetch

[submodule "third_party/doom"]
	path = third_party/doom
	url = https://github.com/id-Software/DOOM.git
